/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*----------------------------------------------------------*/

html,
body,
header {
    height: 100%;
}

body {
    font-family: Quicksand, sans-serif;
}

#header {
    width: 100%;
    height: 100%;
    /*background: url(../images/bow-lake-50429_1280.jpg);
background-attachment: fixed;
background-size: cover;*/
}

.header {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


/*Menu*/

#menu {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: none;
    border: none;
    padding: 10px;
    color: white;
    width: 100px;
    margin-top: 30px;
    margin-left: 25px;
    position: fixed;
    font-family: "Indie Flower";
    font-size: 20px;
    z-index: 10000;
}

nav {
    display: none;
    position: fixed;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
    width: 250px;
    height: 100%;
    color: whitesmoke;
    padding: 20px 30px;
    left: 0;
    top: 0;
    font-family: "Indie Flower";
    z-index: 10000;
}

ul {
    padding-left: 10px;
}

nav li {
    list-style-type: none;
    border-bottom: 1px dotted grey;
    padding-bottom: 7px;
    padding-top: 7px;
    font-size: 30px;
}

nav a {
    color: #d8d8d8 !important;
    text-decoration: none !important;
    font-size: 16px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:visited {
    text-decoration: none;
    color: #d8d8d8;
}

nav a:hover {
    margin-left: 7px;
    color: white;
    text-decoration: none;
}

#name {
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    color: white;
    width: 180px;
    margin-top: 10px;
}

h4 {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 10px;
    width: 200px;
}

.bold {
    font-weight: bold;
}


/*HEADER*/

#headertitle {
    animation: fadein 7s;
    -moz-animation: fadein 7s;
    /* Firefox */
    -webkit-animation: fadein 7s;
    /* Safari et Chrome */
    -o-animation: fadein 7s;
    /* Opera */
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    /* sur Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    /* sur Safari et Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {
    /* sur Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1,
h3 {
    text-align: center;
    color: whitesmoke;
    font-family: "Indie Flower";
}

h1 {
    border: 2px solid white;
    padding: 10px 0px;
    font-size: 25px;
    margin-top: 270px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
}

#header i {
    color: whitesmoke;
    text-align: center;
    margin-top: 100px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#header i:hover {
    margin-top: 110px;
}


/*MAIN*/

#container {
    margin: auto;
}

.container {
    width: 100%;
}


/*TYPO*/

h2 {
    color: #008466;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-family: "Indie Flower";
    margin-top: 30px;
    margin-bottom: 40px;
}

p {
    font-size: 16px;
    margin: 10px 0px;
}

section {
    padding: 40px 0px;
}

.italic {
    font-style: italic;
}


/*INTRO*/

#intro p {
    font-size: 18px;
    text-align: center;
}

#intro {
    padding-bottom: 50px;
}

#photo {
    text-align: center;
    margin-bottom: 30px;
}

#photo img {
    width: 200px;
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 1px 1px 1px;
}

#me h2 {
    margin-bottom: 20px;
}

#me p {
    text-align: left;
    font-family: "Indie Flower";
}


/*EXPERIENCES*/

.bloc_experience {
    text-align: center;
}

.date {
    text-align: center;
    background-color: white;
    font-size: 25px;
    padding: 15px;
}

#experience h3 {
    font-size: 18px;
    font-weight: bold;
    color: black;
    font-family: "Quicksand";
}

#experience p {
    margin-top: 10px;
}

.detail {
    width: 350px;
    margin: 0 auto;
    font-size: 16px;
}

#experience a {
    font-style: italic;
    color: #008466;
}

#softwares {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.img-softwares {
    height: 30px;
    width: auto;
    margin-left: 10px;
}


/*FORMATION*/

#education {
    background-color: #f4faff;
}

.school {
    text-align: center;
}

#education i {
    margin: 10px 0px;
}

#education h5 {
    margin-top: 30px !important;
    color: #008466;
}

#education h5,
#education h6 {
    font-size: 16px;
    margin: 10px 0px;
    font-weight: bold;
}

.partenaires {
    margin-bottom: 20px;
}

#education img {
    height: 50px;
}

#dev {
    margin-bottom: 60px;
}

.timeline {
    position: relative;
}

#timeline {
    position: absolute;
    margin-top: 100px;
    left: 50%;
    height: 1200px;
    border-left: solid 2px #008466;
}


/*COMPETENCES*/


/*CAROUSEL*/

#my_carousel {
    height: 240px;
    background-color: #f4faff;
    padding-top: 40px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 10%;
    margin: auto;
}

.carousel-caption {
    position: initial;
    padding-top: 20px;
    text-shadow: none;
    font-weight: bold;
    color: black;
}

.carousel-indicators li {
    border-color: black;
}

.carousel-indicators {
    bottom: 40px;
}

.carousel-indicators li .active {
    width: 10px;
}

.carousel-indicators li.active {
    background-color: black;
}

#skills {
    padding: 0px;
}

#langages {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 40px 15px;
    color: whitesmoke;
}

#skills h2 {
    color: whitesmoke;
}

#skills h5,
#skills h6,
#skills p {
    text-align: center;
    font-size: 16px;
    margin: 10px 0px;
    font-weight: bold;
}

#skills h5 {
    margin-bottom: 10px;
}

#skills p {
    margin-bottom: 40px;
}

.langages {
    width: 100px;
}

#logo_langages > div {
    display: flex;
    justify-content: space-around;
}

#logo_langages {
    text-align: center;
}

#logo_langages div {
    margin-bottom: 20px;
}


/*#logo_langages img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#logo_langages img:hover {
    -webkit-filter: none;
    filter: none;
}*/

#langages {
    text-align: center;
}

#langages img {
    width: 80px;
}

.logiciels div {}


/*INTERETS*/

#interest div {
    margin: 30px 0px;
}

#interest div div {
    text-align: center;
}

#interest p {
    font-weight: bold;
}

#interest img {
    width: 100px;
}

.hobbies {
    display: flex;
    justify-content: space-around;
}


/*CONTACT*/

#contact {
    padding-top: 20px;
}

#contact button {
    margin-bottom: 40px;
}

#contact h5 {
    margin-bottom: 20px;
}

#contact a:hover {
    color: #008466;
}

.fa-twitter {
    margin-right: 20px;
}

footer {
    background-color: #333333;
    text-align: center;
    padding-bottom: 10px;
}

footer,
footer h2 {
    color: whitesmoke;
}

button {
    padding: 10px 30px;
    background-color: #008466;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

footer h5 {
    font-size: 20px;
    font-weight: bold;
}

footer p {
    font-size: 12px;
    margin: 0px;
    padding: 10px 0px;
}

hr {
    margin: 0 auto;
    margin-bottom: 10px;
    border-color: #008466;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 70px;
    right: 20px;
}

#back-to-top i {
    color: #008466;
}


/*MEDIA QUERIES*/

@media (max-width: 767px) {
    h1 {
        margin-top: 220px;
    }
    .school {
        margin-top: 40px;
    }
    #education h2 {
        margin-bottom: 0px;
    }
    #dev {
        margin-bottom: 0px;
    }
    #timeline {
        left: 45px;
    }
    .detail {
        width: auto;
    }
    #skills img {
        width: 60px;
    }
    #skills h6 {
        font-size: 14px;
    }
}

@media (min-width:576px) and (max-width: 767px) {
    #timeline {
        height: 1160px;
    }
}

@media (max-width: 520px) {
    #interest > div {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #interest h2 {
        margin-bottom: 30px;
    }
    .hobbies {
        flex-direction: column;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }
    .hobbies > div {
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
}